<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ClinicWare</title>
	<title>Today's Appointments</title>
	<link href="/static/css/main.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="screen">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
		
<!-- ----------Home ------------>
	<div id="wrapper">

	<div id="header">
		<div style="width: 100%; background-color: #eee; display: inline-block;">
			<div style="width: 100%; background-color: #eee; padding:3px;">
				<div class="hover" style="float: right; margin: 5px; overflow: auto; ">
					<img th:src="@{/image/receptionist.png}" style="width: 35px; height: 35px;float: left; margin-right: 5px">
					<img th:src="@{/image/arrow-down.png}" style="width: 15px; height: 10px; float: right; margin-top:15px;">
				</div>
				<h3 > Hello </h3>
			</div>
		</div>
		<div id="main">
			<div id="menu">
<!-- 				<h2>Menu</h2>
				<p>This column is fixed.</p>
				<p>This column is fixed.</p>
				<p>This column is fixed.</p>
				<p>This column is fixed.</p>
				<p>This column is fixed.</p>-->
				<div>
					<div style="width: 100%; float: left;">
						<div style="margin-top: 10px;">
							<h6 style="color: #777777; margin-left: 46%;"></h6>
						</div>
						<div class="list-item">
							<button onclick="hide('appointment')">
								<img th:src="@{/image/appointment.png}" th:style="'filter: invert(100%);'" />Appointments
							</button>
						</div>
						<div class="list-item">
							<button>
								<img th:src="@{/image/appointment.png}" th:style="'filter: invert(100%);'"/>Create An Appointment
							</button>
						</div>
						<div class="list-item">
							<button onclick="hide('create-patient')">
								<img th:src="@{/image/add-contact.png}" th:style="'filter: invert(100%);'"/>Add Patient
							</button>
						</div>
						<div  class="list-item">
							<button>
								<img th:src="@{/image/visitor.png}" th:style="'filter: invert(100%);'"/>Add Visit
							</button>
						</div>
						<div class="list-item">
							<button onclick="hide('create-interval')">
								<img src="intervals.png" style="filter: invert(100%);"/>Edit Intervals
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div id="content">
<!-- ----------create clinic ------------>
	<div id="create-clinic" style="width: 60%;margin-left: 1%; margin-right: 1%; display: none; position: absolute; align-self: center;font-size: 100%;">
		<form>
			<div style="margin-top: 2%;">
				<div style="display: inline; margin-right: 15px">
					<button style="padding-top: 10px; padding-bottom: 10px;">
						<img th:src="@{/image/save1.png}" style="width: 20px; height: 20px;"> Save
					</button>
				</div>
				<div style="display: inline;">
					<button style="padding-top: 10px; padding-bottom: 10px; background-color: #82bcc9">
						<img th:src="@{/image/save.png}" style="width: 15px; height: 15px;"> Cancel
					</button>
				</div>
			</div>
			<div style="width: 100%; margin-top: 1%; border: thick; background-color: white;">
				<div style="  border: 1px solid; border-color: #aaa;padding: 25px;	box-shadow: 2px 2px 7px grey;">
				<h1 style="margin: 2%;">New Clinic</h1>
				<div style="padding-bottom: 2%;">
						<table class="create" style="width: 60%; margin-left: 20%; margin-right: 20%;">
							<tr>
								<td style="width: 40%">
									Clinic Name
								</td>
								<td style="width: 40%">
									: <input type="text" name="clinicName" style="width: 90%;">
								</td>
							</tr>
							<tr>
								<td style="width: 40%">
									Clinic Phone Number
								</td>
								<td style="width: 40%">
									: <input type="text" name="clinicPhone" style="width: 90%;">
								</td>
							</tr>
							<tr>
								<td style="width: 40%">
									Owner Phone Number
								</td>
								<td style="width: 40%">
									: <input type="text" name="onwerPhone" style="width: 90%;">
								</td>
							</tr>
							<tr>
								<td style="width: 40%">
									Clinic Address
								</td>
								<td style="width: 40%">
									: <input type="text" name="address" style="width: 90%;">
								</td>
							</tr>
							<tr>
								<td style="width: 40%">
									City
								</td>
								<td style="width: 40%">
									: <input type="text" name="city" style="width: 90%;">
								</td>
							</tr>
							<tr>
								<td>

								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

		</form>

	</div>
</div>

<!-- ----------appointments ------------>
	<div id="appointments" style="margin: 1.5%; display: inline-block; position: absolute; width: 60%;">
	<div style="position: relative;">
		<div style="float: right;width: 70%; padding-left: 5px;">
			<input type="text" name="search" placeholder="Search" style="width: 100%; padding-left: 1px; padding-bottom: 2px; padding-top: 2px; font-size: 15px;"><br/>
			<table>
				<tr>
					<td style="align-items: center">
						Filters: <br/>
					</td>
					<td>
						From Date: <input style="width: 60%;" type="text" name="from"/>
					</td>
					<td>
						To Date : <input type="text" style="width: 60%;" name="to">
					</td>
					<td>
						Patient Name: <input type="text" style="width: 60%;" name="name"/>
					</td>
				</tr>
			</table>

		</div>
	</div>
	<div style="width: 100%;">
		<table class="tg">
		  	<tr>
	    		<thead class="tg-amwm">
					<td>
						Appointment No.
					</td>
					<td>
						Patient Name
					</td>
					<td>
						Appointment Date
					</td>
					<td>
						Start
					</td>
					<td>
						End
					</td>
				<td></td>
	    		</thead>
		  	</tr>
		  	<tbody>
		  	<tr th:each="appointment : ${appointments}">
		  		<td style="width: 1%;">
					<span th:text="${appointment.ctiID}"> id </span>
				</td>
				<td>
					<span th:text="${appointment.englishName}">name</span>
				</td>
				<td>
					<span th:text="${appointment.date}">date</span>
				</td>
				<td>
					<span th:text="${appointment.start}">start</span>
				</td>
				<td>
					<span th:text="${appointment.end}">end</span>
				</td>
				<td>
					<div class="dropdown" style="width: 1px;">
					<!-- <img src="option.png" style="width: 15px; height: 15px; float: right"> -->
						<img onclick="myFunction()" th:src="@{/image/option.png}" class="dropbtn" />
						<div id="myDropdown" class="dropdown-content">
							<a href="#">Link 1</a>
						  	<a href="#">Link 2</a>
						  	<a href="#">Link 3</a>
						</div>
					</div>
				</td>
		  	</tr>

		  	</tbody>
		</table>
	</div>
</div>


<!-- ----------create patient ------------>
		<div id="create-patient"  style="width: 63%; font-size: 100%;  display: none; position: absolute;">
			<form>
				<div style="width: 100%; padding-top:1px; border: thick; ">
					<div style="  border: 1px solid; border-color: #aaa;padding: 25px;background-color: white;box-shadow: 2px 2px 7px grey;">
						<div style="margin-top: 2%;">
							<div style="display: inline; margin-right: 15px">
								<button style="padding-top: 10px; padding-bottom: 10px;">
									<img th:src="@{/image/save1.png}" style="width: 20px; height: 20px;"> Save
								</button>
							</div>
							<div style="display: inline;">
								<button style="padding-top: 10px; padding-bottom: 10px; background-color: #82bcc9" onclick="hide()">
									<img th:src="@{/image/save.png}" style="width: 15px; height: 15px;"> Cancel
								</button>
							</div>
						</div>
						<h1 style="margin: 2%;">New Patient</h1>
						<div style="margin-left: 3%; padding-bottom: 2%;">
							<table class="create">
								<tr>
									<td style="width: 40%">
										Patient Name
									</td>
									<td style="width: 40%">
										: <input type="text" name="username" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td style="width: 40%">
										Phone Number
									</td>
									<td style="width: 40%">
										: <input type="text" name="phone" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td style="width: 40%">
										Gender
									</td>
									<td style="width: 40%">
										: <select class="select-css" style="width: 90%;"><option value="male">Male</option><option value="female">Female</option></select>
									</td>
								</tr>
								<tr>
									<td>
										Birthdate
									</td>
									<td>
										: <input type="date" id="datepicker" required="required" data-position="top" name="bdate" placeholder="bdate"/>
									</td>
								</tr>
								<tr>
									<td>
										Status
									</td>
									<td>
										: <select class="select-css" style="width: 90%;"><option value="single">Single</option><option value="Married">Married</option></select>
									</td>
								</tr>
								<tr>
									<td>
										Blood type
									</td>
									<td>
										: <select class="select-css" style="width: 90%;"><option value="a">A</option><option value="b">B</option><option value="o">O</option><option value="ab">AB</option></select>
									</td>
								</tr>

							</table>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div id="create-interval" style="width:63%;display: none; font-size: 100%;  position: absolute;">
			<form method="post" th:action="@{/appointments/interval}">
				<div style="width: 100%; padding-top:1px; border: thick; ">
					<div style="  border: 1px solid; border-color: #aaa;padding: 25px;background-color: white;box-shadow: 2px 2px 7px grey;">
						<div style="margin-top: 2%;">
							<div style="display: inline; margin-right: 15px">
								<button style="padding-top: 10px; padding-bottom: 10px;">
									<img th:src="@{/image/save1.png}" style="width: 20px; height: 20px;"> Save
								</button>
							</div>
							<div style="display: inline;">
								<button style="padding-top: 10px; padding-bottom: 10px; background-color: #82bcc9" onclick="hide()">
									<img th:src="@{/image/save.png}" style="width: 15px; height: 15px;"> Cancel
								</button>
							</div>
						</div>
						<h1 style="margin: 2%;">Intervals</h1>
						<div style="margin-left: 3%; padding-bottom: 2%;">
							<table class="create">
								<tr>
									<td style="width: 40%">
										Clinic
									</td>
									<td style="width: 40%">
										: <select class="select-css" style="width: 90%;" name="clinic">
										<option value="0">Select a clinic</option>
										<option th:each="clinic : ${clinics}"
												th:value="${clinic.id}"
												th:text="${clinic.clinicName}">
										</option>
									</select>
									</td>
								</tr>
								<tr>
									<td style="width: 40%">
										Doctor Name
									</td>
									<td style="width: 40%">
										: <input type="text" name="doctorName" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td style="width: 40%">
										Date
									</td>
									<td style="width: 40%">
										: <input type="text" name="date" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td>
										Start
									</td>
									<td>
										: <input type="text" name="start" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td>
										End
									</td>
									<td>
										: <input type="text" name="end" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td>
										Period(minutes)
									</td>
									<td>
										: <input type="text" name="period" style="width: 90%;">
									</td>
								</tr>

							</table>
						</div>
					</div>
				</div>
			</form>

		</div>

		<div class="clearer"></div>
	</div>

	<!-- <div id="footer">footer</div> -->
</body>


<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}


function hide(hid) {
	var appointment = document.getElementById("appointments");
	var addPatient = document.getElementById("create-patient");
	var addInterval = document.getElementById("create-interval");

	if(hid === "appointment"){
		appointment.style.display = "inline-block";
		addPatient.style.display = "none";
		addInterval.style.display = "none";
	}
	if(hid === "create-patient"){
		appointment.style.display = "none";
		addPatient.style.display = "inline-block";
		addInterval.style.display = "none";
	}
	if(hid === "create-interval"){
		appointment.style.display = "none";
		addPatient.style.display = "none";
		addInterval.style.display = "inline-block";
	}

}

</script>

</body>
</html>