<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link href="/static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css" media="screen">
</head>
<body>

<center>
    <div class="frame">
        <div class="frame-header">
            <h2 style="color: white">Please log in ..</h2>
        </div>
        <form method="post" th:action="@{register/regist}" style="padding-top: 4%;">
            <input type="text" name="username" placeholder="Username" required value="ahmad">
            <input type="password" name="password" placeholder="Password" required value="1234">
            <input type="text" name="firstName" required placeholder="First Name" value="ahmad">
            <input type="text" name="lastName" required placeholder="Last Name" value="ali">
            <input type="text" name="title" required placeholder="Title" value="doc">
            <select name="userType">
                <option value="0">Admin</option>
                <option value="1" selected>Doctor</option>
                <option value="2">Receptionist</option>
                <option value="3">Patient</option>
            </select>
            <br/><br/>
            <input type="submit" name="register" value="Register" >
        </form>

        <div th:if="${user} != null">
            <h2>  <span th:text ="${#user}"></span> </h2>
        </div>
    </div>
</center>

</body>
</html>